{% load static %}
<!-- Header Section -->
<header class="header">
  <div class="container container--narrow">
    <a href="{% url 'profiles' %}" class="header__logo">
      <img src="{% static 'images/logo.svg' %}" alt="Golf Logo" />
    </a>
    <nav class="header__nav">
      <input type="checkbox" id="responsive-menu" />
      <label for="responsive-menu" class="toggle-menu">
        <span>Menu</span>
        <div class="toggle-menu__lines"></div>
      </label>
      <ul class="header__menu">
        {% if request.user.is_authenticated %}

          {% if request.user.is_staff %}
          <li class="header__menuItem">
            <div class="dropdown">
              <button>Admin</button>
              <ul class="dropdown-menu">
                <li>
                  <a href="#">Players</a>
                </li>
                <li>
                  <a href="#">Courses</a>
                </li>
                <li>
                  <a href="{% url 'events-crud' %}">Edit Events</a>
                </li>
              </ul>
            </div>
          </li>
          {% endif %}

        <li class="header__menuItem">
          <a href="{% url 'profiles' %}">Players</a>
        </li>
        <li class="header__menuItem">
          <a href="{% url 'setup' %}">Score Match</a>
        </li>
        <li class="header__menuItem">
          <a href="{% url 'events' %}">Events</a>
        </li>
        <li class="header__menuItem">
          <a href="{% url 'my-profile' %}">My Profile</a>
        </li>
        <li class="header__menuItem">
          <a href="{% url 'logout' %}" class="btn btn--sub">Logout</a>
        </li>
        {% else %}
        <li class="header__menuItem">
          <a href="{% url 'login' %}" class="btn btn--sub">Login/Sign Up</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</header>
